.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  color: white;
  display:flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
    background: white;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    position: relative;
    width: 500px;
    height: 500px;
}

.grid > img {
  display: none;
}

.grid.king > img {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0; 
  left: 0;
}

.grid.king > img.img-1 {
  animation: spin-rotate-1 infinite 4s ease-in-out;
}

.grid.king > img.img-2 {
  animation: spin-rotate-2 infinite 4s ease-in-out;
}

.grid.king > img.img-3 {
  animation: spin-rotate-3 infinite 4s ease-in-out;
}

.grid.king > img.img-4 {
  animation: spin-rotate-4 infinite 4s ease-in-out;
}

.grid-cell {
  /* border: 1px solid #282c34; */
  display: flex;
  align-items: center;
  font-size: 27px;
  justify-content: center;
}

/* .grid-cell.top {
border-top-width: 2px;
}

.grid-cell.bottom {
border-bottom-width: 2px;
}

.grid-cell.left {
  border-left-width: 2px;
}

.grid-cell.right {
  border-right-width :2px;
} */

.grid-cell.snakebody {
}

.grid-cell.snakehead {
}

.grid-cell.food {
}

.restart {
  color: white;
  cursor: pointer;
}

.restart:hover {
  text-decoration: underline;
}

.power-mode {
  color: white;
}

.message {
  color: white;
}

.container {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
}

.container > .grid-container {
    display: flex;
    flex: 0 1 500px;
    flex-flow: column;
}

.score-container {
  display: flex;
  color: white;
  justify-content: baseline;
  flex: 0 0 100px;
  flex-direction: column;
  margin-left: 30px;
}

.score {
    display: flex;
    flex: 0 0 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.score img {
  width: 40px;
  height: 40px;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes spin-rotate-1 {
  0% { transform: translate(250px, 0px) rotate(0deg); }
  25% { transform: translate(500px, 250px) rotate(720deg); }
  50% {transform: translate(250px, 500px) rotate(0deg); }
  75% { transform: translate(0, 250px) rotate(720deg); }
  100% { transform: translate(250px, 0px) rotate(0deg); }
}

@keyframes spin-rotate-2 {
  0% { transform: translate(0px, 500px) rotate(0deg); }
  25% { transform: translate(250px, 250px) rotate(720deg); }
  50% {transform: translate(500px, 0px) rotate(0deg); }
  75% { transform: translate(250px, 250px) rotate(720deg); }
  100% { transform: translate(0px, 500px) rotate(0deg); }
}

@keyframes spin-rotate-3 {
  0% { transform: translate(500px, 500px) rotate(0deg); }
  25% { transform: translate(250px, 500px) rotate(720deg); }
  50% {transform: translate(0px, 250px) rotate(0deg); }
  75% { transform: translate(250px, 250px) rotate(720deg); }
  100% { transform: translate(500px, 500px) rotate(0deg); }
}

@keyframes spin-rotate-4 {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(250px, 0px) rotate(720deg); }
  50% {transform: translate(500px, 250px) rotate(0deg); }
  75% { transform: translate(250px, 0px) rotate(720deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}



@keyframes fadeout {
  from { opacity: 1; display: block; }
  to   { opacity: 0; display: block; }
}