.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
    background: white;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    position: relative;
    width: 500px;
    height: 500px;
}

.grid > img {
  display: none;
}

.grid.king > img {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0; 
  left: 0;
  z-index: 1;
}

.grid.king > img.img-1 {
  animation: spin-rotate-1 infinite 4s ease;
}

.grid.king > img.img-2 {
  animation: spin-rotate-2 infinite 4s ease;
}

.grid-cell {
  /* border: 1px solid #282c34; */
  display: flex;
  align-items: center;
  font-size: 27px;
  justify-content: center;
}

/* .grid-cell.top {
border-top-width: 2px;
}

.grid-cell.bottom {
border-bottom-width: 2px;
}

.grid-cell.left {
  border-left-width: 2px;
}

.grid-cell.right {
  border-right-width :2px;
} */

.grid-cell.snakebody {
}

.grid-cell.snakehead {
}

.grid-cell.food {
}

.restart {
  color: white;
  cursor: pointer;
}

.restart:hover {
  text-decoration: underline;
}

.power-mode {
  color: white;
}

.message {
  color: white;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes spin-rotate-1 {
  0% { transform: translate(250px, 0px) rotate(0deg); }
  25% { transform: translate(500px, 250px) rotate(720deg); }
  50% {transform: translate(250px, 500px) rotate(0deg); }
  75% { transform: translate(0, 250px) rotate(720deg); }
  100% { transform: translate(250px, 0px) rotate(0deg); }
}

@keyframes spin-rotate-2 {
  0% { transform: translate(0px, 500px) rotate(0deg); }
  25% { transform: translate(250px, 250px) rotate(360deg); }
  50% {transform: translate(500px, 0px) rotate(0deg); }
  75% { transform: translate(250px, 250px) rotate(360deg); }
  100% { transform: translate(0px, 500px) rotate(0deg); }
}


@keyframes fadeout {
  from { opacity: 1; display: block; }
  to   { opacity: 0; display: block; }
}